.exam1-manage-container{

}

.exam1-manage-container .courses-list{

}

.exam1-manage-container .courses-list .courses-item{

}

.exam1-manage-container .courses-list .courses-item h3{
    border: 1px solid blueviolet;
    padding: 0 30px;
    border-radius: 30px;
}

.exam1-manage-container .courses-list .courses-item .courses-item-detail{

}