.container
{
    background-blend-mode: multiply;
    height: 800px;
    margin-top: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 10%;
}

.container .box-title
{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 80px;
    color: cornflowerblue;
    text-align: center;
}

.container .box-title h1{
    margin-bottom: 0 !important; 
    animation: typeh1 3s;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Times New Roman', Times, serif;
    border-right: 4px soild black;
}

.container .box-title h6{
    margin-top: 0 !important; 
    animation: typeh6 3s;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
    border-right: 4px soild black;
}

